[submodule "3dparty/stb/stb"]
	path = 3dparty/stb/stb
	url = https://github.com/nothings/stb.git
[submodule "3dparty/imgui/imgui"]
	path = 3dparty/imgui/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "3dparty/assimp"]
	path = 3dparty/assimp
	url = https://github.com/assimp/assimp.git
