[submodule "3dparty/stb/stb"]
	path = 3dparty/stb/stb
	url = https://github.com/nothings/stb.git
[submodule "3dparty/imgui/imgui"]
	path = 3dparty/imgui/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "3dparty/assimp"]
	path = 3dparty/assimp
	url = https://github.com/assimp/assimp.git
[submodule "3dparty/DirectXTK12"]
	path = 3dparty/DirectXTK12
	url = https://github.com/microsoft/DirectXTK12.git
[submodule "3dparty/pugixml"]
	path = 3dparty/pugixml
	url = https://github.com/zeux/pugixml.git
